*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary:#FB2E86;
  --mainFont:"Lato", sans-serif;
  --secFont:"Josefin Sans", sans-serif;
  --Font-color:#151875;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  font-family: var(--mainFont);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
  width: calc(100% - 320px);
  margin:0 auto;
}
.btn{
  padding: 16px 40px 17px;
  color: #fff;
  border:none;
}
.btn-primary{
  background-color: var(--primary);
}
.btn-sec{
  background-color: #08D15F;
  padding: 9px 13px;
  color: #fff;
  border: none;
  font-family: var(--secFont);
  margin-bottom: 9px;
  border-radius: 2px;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-direction{
  flex-direction: column;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  color: #1A0B5B;
  font-family: var(--secFont);
}
.scroll{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.gap-0{
  gap: 0;
}
.gap-1{
  gap: 5px;
}
.gap-2{
  gap: 10px;
}
.gap-3{
  gap: 15px;
}
.gap-4{
  gap: 20px;
}
.gap-5{
  gap: 25px;
}
.gap-21px{
  gap: 21px;
}