.header{
  padding: 47px 0px 35px ;
}
.navbar{
  display:flex;
  justify-content: center;
  align-items: center;
}
.navbar ul{
  display: flex;
  gap: 21px;
}
.navbar ul li a{
  color: #000;
}
.navbar a{
  transition-property: color;
  transition-duration: 500ms;
}
.navbar a:hover{
  color: var(--primary);
  }
.navbar a:focus{
  color: var(--primary);
}
.navbar i{
  display: none;
}
.srcbar{
  display: flex;
  justify-content: center;
}
.srcbar input{
  border: none;
  outline: 2px solid #E7E6EF;
  width: 266px;
  padding-left:5px;
}
.srcbar button{
  border: none;
  outline: 2px solid var(--primary);
  padding:10px 15px ;
}
/* .navbar .colored{
  color: var(--primary);
  } */
  @media screen and (max-width: 1200px) {
    .navbar i{
      display: block;
    }
    .navbar ul{
      display: none;
    }
    .srcbar{
      display: none;
    }
  }
  /*@media screen and (max-width: 992px){
    .container{
      width: calc(100% - 120px);
      margin:0 auto;
    }
  }
  @media screen and (max-width: 768px){
    .container{
      width: calc(100% - 70px);
      margin:0 auto;
    }
  }
  @media screen and (max-width: 600px){
    .container{
      width: calc(100% - 40px);
      margin:0 auto;
    }
  }*/
.burgerbar{
  color:#0D0E43;
}
.hero{
  background-color: #F2F0FF;
  padding: 39px 0;
  position: relative;
}
.hero-info{
  align-items: flex-start;
  flex: 1 0 60%;
  flex-wrap: nowrap;
}

.hero-info span,p{
  font-family: var(--mainFont);
}
.hero-info span{
  color: var(--primary);
}
.hero-info h1{
  font-family: var(--secFont);
}

  .hero-lamp {
  position: absolute;  
  top: 0;  
  left: 0px;  
  max-width: 20%;  
}
  .hero-lamp img{  
  max-width: 70%;
  height: auto; 
}

.h-info{
  justify-content: center;
  align-items: flex-start;
}
.hero-img{
  flex: 1 0 40%;
} 
.hero-img img{
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .hero-lamp {
  display: none;  
}
}
@media screen and (max-width: 690px) {
.h-info{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-info{
  flex: 1 0 100%;
}
.hero-img{
  flex: 1 0 100%;
} 
.hero-img img{
  width: 100%;
}
.hero .row{
  flex-direction: column;
  gap: 20px;
}
}

.featured-products{
  padding: 128px 0px;
}
.featured-products .row{
  /* justify-content: flex-start; */
  gap: 30px;
}
.featured-product{
  flex: 1 0 300px;
  box-shadow: 0px 4px 4px rgba(0,0,0,25%);
  border-radius: 4px;
}
.featured-product .img{
  background-color: #F6F7FB;
  text-align: center;
  border-radius: 4px 4px 0 0;
  gap: 0;
}
.featured-product .img img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.featured-product .img .shop-icons{ 
  gap: 7px;
  width: 100%;
} 
.featured-product .img .shop-icons button{ 
  border-radius: 50px;
  border: none;
  background-color: transparent;
  color: #1DB4E7;
  position: relative; 
  padding: 18px;
}
.featured-product .img .shop-icons i{ 
  padding: 8px;
}
.featured-product .img .shop-icons button:hover{
  background-color: #EEEFFB;
}
.featured-product .img .shop-icons .shop-btn-1 i{ 
  position: absolute;
  left: 2px;
  top: 5px;
  color: transparent;
  -webkit-text-stroke: #2F1AC4 1px; 
}
.featured-product .img .shop-icons .shop-btn-2 i{ 
  position: absolute;
  top: 5px;
  left: 3.2px;
}
.featured-product .img .shop-icons .shop-btn-3 i{ 
  position: absolute;
  top: 4px;
  left: 4px;
}
.featured-product .img button{ 
  display: none;
}
.featured-product:hover .img button{
  display: block;
}
.product-info{
  align-items: center;
  justify-content: center;
  padding: 17px 0;
}
.featured-product:hover .product-info{
  background-color:#2F1AC4;
}
.featured-product:hover span,
.featured-product:hover h3 {
  color: #fff;
}
.featured-product:hover .btns .btn-3 {
  background-color: #FFEAC1;
}
.product-info h3{
  font-family: var(--mainFont);
  color: var(--primary);
}
.product-info .btns .c-butn{
  padding: 2px 6px;
  border: none;
  border-radius:10px;
}
.product-info .btns .c-butn:focus{
  outline: 1px solid #000;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,25%));
}
.product-info .btns .btn-1{
  background-color: #05E6B7;
}
.product-info .btns .btn-2{
  background-color: #F701A8;
}
.product-info .btns .btn-3{
  background-color: #00009D;
}

.product-info .span-1{
  font-family: var(--mainFont);
  color: #151875;
}
.product-info .span-2{
  font-family: var(--secFont);
  font-weight: 350;
  color: #151875;
}
.scroll .c-butn{
  padding: 2px 7px;
  border: none;
  border-radius:10px;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,25%));
  background-color: rgba(247, 1, 168, 25%);
}
.scroll .c-butn:focus{
  padding: 2px 11px;
  background-color: rgba(247, 1, 168, 100%);
}
@media screen and (max-width: 332px) {
  .featured-product{
  flex: 1 0 100%;
}
.featured-product .img img{
  width: 100%;
  height: auto;
}
}
.latest-products{
  padding: 0px 0px 55px;
}
.latest-products .head{
  margin-bottom: 15px;
}
.title a{
  color: var(--Font-color);
  transition: color 0.5s;
}
.title a:hover{
  color: var(--primary);
}
.title a:focus{
  color: var(--primary);
  text-decoration: underline;
}
.latest-products ul{
  gap: 50px;
}
.latest-products .row{
  /* justify-content: flex-start; */
  gap: 30px;
}
.latest-product{
  flex: 1 0 calc((100% - 60px)/3);
}
.latest-product .img{
  background-color: #F6F7FB;
  text-align: center;
  gap: 0;
  position: relative;
}
.latest-product .img img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.latest-product .img .shop-icons{ 
  width: 100%;
  z-index: 1;
  gap: 7px;
  flex-direction: column;
  align-items: flex-start; 
  position: absolute;
  bottom: 0;
  left: 0;
} 
.latest-product .img .shop-icons button{ 
  border-radius: 50px;
  border: none;
  background-color: transparent;
  color: #1DB4E7;
  position: relative; 
  padding: 18px;
}
.latest-product .img .shop-icons button:hover{
  background-color: #EEEFFB;
}
.latest-product .img .shop-icons i{ 
  padding: 8px;
}
.latest-product .img .shop-icons i{ 
  color: transparent;
  -webkit-text-stroke: #2F1AC4 1px; /*i used AI for this line to be honest*/
}
.latest-product .img .shop-icons .shop-btn-1 i{ 
  position: absolute;
  top: 4px;
  left: 2.5px;
}
.latest-product .img .shop-icons .shop-btn-2 i{ 
  position: absolute;
  top: 4px;
  left: 3.5px;
}
.latest-product .img .shop-icons .shop-btn-3 i{ 
  position: absolute;
  top: 4px;
  left: 3.5px;
}
.latest-product .img .sale-logo{ 
  width: 100px;
  position: absolute;
  left: 4px;
  bottom: 65px;
  display: none; 
  z-index: 1;
}
.latest-product:hover .img .sale-logo{
  display: block;
} 
.latest-product .img button{ 
  display: none;
}
.latest-product:hover .img button{
  display: block;
}
.latest-product:hover .img{
  background-color:#fff;
} 
.latest-product:hover .img .chair-shadow{
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,25%));
} 
.latest-product .product-info a{
  justify-content: space-between;
  align-items: center;
  padding: 17px 2px;
}
.latest-product .product-info h3{
  font-family: var(--mainFont);
  color: var(--Font-color);
  font-weight: 400;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 5%);
}
.latest-product .product-info .span .span-3{
  text-decoration: line-through;
  color: #FB2448;
}
@media screen and (max-width: 500px) {
  .latest-products ul{
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

}
@media screen and (max-width: 332px) {
  .latest-product{
  flex: 1 0 100%;
}
.latest-products ul{
  gap: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.latest-product .img .sale-logo{ 
  width: 70px;
  left: 20px;
  top: 10px;
}
.latest-product .product-info {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.latest-product .img img{
  width: 100%;
  height: auto;
}
}
.services{
  padding-bottom: 135px;
}
.services .row{
  gap: 28px;
}
.services .service{
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 calc((100% - 84px)/4);
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  padding: 55px 26px;
}
.services .service{
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 calc((100% - 84px)/4);
  font-family: var(--mainFont);
}
.services .service h3{
  color: var(--Font-color);
}
.services .service span{
  color: rgba(26, 11, 91, 30%);
}
@media screen and (max-width: 792px){
  .services .service{
    flex: 1 0 calc((100% - 84px)/2);
  }
}
@media screen and (max-width: 450px){
  .services .service{
    flex: 1 0 100%;
  }
}
.trending-products{
  padding-bottom: 135px;
}
.trending-products .row{
  gap: 28px;
}
.trending-products .trending-product{
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 calc((100% - 84px)/4);
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  padding: 12px;
}
.trending-product .img{
  background-color: #F5F6F8;
  padding: 28px 0 ;
}
.trending-product .img img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.trending-product .product-info a{
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.trending-product .product-info h3{
  color: var(--Font-color);
}
.trending-product .product-info .span{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.trending-product .product-info .span .span-3{
  text-decoration: line-through;
  color: rgba(21, 24, 117, 30%);
  font-size: 12px;
}
@media screen and (max-width: 332px) {
  .trending-products .trending-product{
  flex: 1 0 100%;
}
.trending-product .img img{
  width: 100%;
  height: auto;
}
}
.top-categories{
  padding-bottom: 135px;
}
.top-categories .row{
  gap: 28px;
}
.top-categories .top-category{
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 calc((100% - 84px)/4);
  /* box-shadow:0 4px 10px rgba(0,0,0,0.1); */
}
.top-category .img{
  background-color: #F5F6F8;
  padding: 28px 0 ;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.top-category .img button{
  display: none;
}
.top-category:hover .img button{
  display: block;
}
.top-category:hover .img{
  box-shadow: -4px 4px 0 #9877E7;
}
.top-category .img img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.top-category .product-info a{
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.top-category .product-info span{
  font-weight: 500;
}
.top-category .product-info h3{
  color: var(--Font-color);
}
@media screen and (max-width: 332px) {
  .top-categories .top-category{
  flex: 1 0 100%;
  }
.top-category .img img{
  width: 100%;
  height: auto;
}

}
.newsletter{
  background: url(../img/Rectangle.webp);
}
.news{
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 160px 0;
  text-align: center;
}
.news h2{
  color: #151875;
  font-family:var(--secFont);
}

.clients{
  padding: 40px 0;
}
.clients .row{
  flex-wrap:nowrap;
  overflow-x: auto;
  gap: 15px;
}
.client{
  width:calc((100% - 120px)/9)
}  
.clients img{
  width:100px;
}
@media screen and (max-width: 1200px){
  .client{
  width:calc((100% - 75px)/6);
}
}
@media screen and (max-width: 804px){
  .client{
  width:calc((100% - 30px)/3);
}
}
@media screen and (max-width: 440px){
  .client{
  width:calc((100% - 15px)/2);
}
}
@media screen and (max-width: 270px){
.client{
  width:100%;
}
}
.latest-blogs{
  padding-bottom: 135px;
}
.latest-blogs .row{
  gap: 28px;
}
.latest-blogs .latest-blog{
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 calc((100% - 56px)/3);
  font-family: var(--mainFont);
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding-bottom: 20px;
} 
.latest-blog .img img{
  border-radius: 8px;
  flex: 1 0 100%;
}
.latest-blogs .latest-blog span{
  color: rgba(26, 11, 91, 30%);
}
.latest-blogs .latest-blog .blog-info{
  padding-left: 15px;
  padding-top: 10px;
}
.latest-blogs .latest-blog .writer-date .pen{
  color: var(--primary);
}
.latest-blogs .latest-blog .writer-date .calender{
  color: #FFA454;
}
.latest-blogs .latest-blog .writer-date span{
  color: var(--Font-color);
}
.latest-blogs .latest-blog .read {
  color: var(--Font-color);
  text-decoration: underline;
}
.latest-blogs .latest-blog .h3 {
  color: var(--Font-color);
}
.latest-blogs .latest-blog a {
  transition: color 0.5s;
}
.latest-blogs .latest-blog a:hover {
  color: var(--primary);
}
@media screen and (max-width: 1300px){
  .latest-blogs .row{
    justify-content: center;
  }
  .latest-blogs .latest-blog{
    flex: 0 0 calc((100% - 56px)/2);
  }
}
@media screen and (max-width: 840px){
  .latest-blogs .row{
    justify-content: center;
  }
  .latest-blogs .latest-blog{
    flex: 1 0 100%;
  }
  .latest-blog .img img{
  width: 100%;
  height: auto;
}
}
.footer{
  background-color: #EEEFFB;
  padding: 50px 0px;
}
.footer .row{
  align-items:normal;
  gap: 30px;
}
.leftside{
  align-items: flex-start;
  width: calc((100% - 30px)/2);
}
.mailbox{
  justify-content: center;
  align-items: center;
}
.mailbox input{
  width: 350px; 
  border:none;
  padding:14px 20px 11px;
  border-radius: 3px;
}
.mailbox button{
  margin-left: -130px;
  border-radius: 3px;
  padding: 12px 41px 10px 40px;
}
.contact{
  color: #8A8FB9;
  font-family: var(--mainFont);
  width: 100%;
}
address{
  font-style: normal;
}
.rightside{
  font-family: var(--mainFont);
  width:calc((100% - 30px)/2)
}
.rightside .row{
  gap: 20px;
}
.footer-item{
  width: calc((100% - 40px)/3);
  gap: 41px;
}
.rightside nav a{
  color: #8A8FB9;
}
.social-span{
  background-color: #E7E4F8;
  padding: 15px 0;
}
.social-span span{
  color: #9DA0AE;
}
.social{
  align-items: center;
  justify-content: center;
  position: relative;
}
.social i{
  color: #fff;
  font-size: 12px;
}
.social .facebook{
  position: absolute;
  top: 4px;
  left: 1.5px;
}
.social .insta{
  position: absolute;
  top: 4px;
  left: 31.7px;
}
.social .twitter{
  position: absolute;
  top: 4px;
  left: 62px;
}
@media screen and (max-width: 1552px) { 
  .container{
    width: calc(100% - 150px);
    margin:0 auto;
  }
}
@media screen and (max-width: 1384px) { 
  .container{
    width: calc(100% - 130px);
    margin:0 auto;
  }
  .rightside .row{
    gap: 10px;
  }
  .footer-item{
    width: calc((100% - 20px)/3);
  }
  
}
@media screen and (max-width: 1250px){
  .container{
    width: calc(100% - 90px);
    margin:0 auto;
  }
  
}
@media screen and (max-width: 1207px){
  .container{
    width: calc(100% - 80px);
    margin:0 auto;
  }
  
  
}
@media screen and (max-width: 992px){
  .container{
    width: calc(100% - 70px);
    margin:0 auto;
  }
  .footer .both {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .leftside{
    width:100%;
    align-items: center;
    justify-content: center;
  }
  .rightside{
    width:100%;
    text-align: center;
  }
}
@media screen and (max-width: 615px){
  .container{
    width: calc(100% - 40px);
    margin:0 auto;
  }
}
@media screen and (max-width: 400px){
  .container{
    width: calc(100% - 30px);
    margin:0 auto;
  }
  .rightside .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .footer-item{
    width: 100%;
    gap: 15px;
  }
  
  .leftside .mailbox{
    width: calc(100% - 70px); 
    gap: 20px;
  }
  .leftside .mailbox input{
    width: 100%; 
    height: auto;
  }
  .leftside .mailbox .btn{
    margin: auto;
  }
  .social-span .row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

